pyrightconfig.json
.idea/
t
*~
.dccache
version_info.json
.coverage*
UNKNOWN.egg-info/
.ipynb_checkpoints
.env*
.cache
.mypy_cache
.aider*
/spiffworkflow_docker_compose
.DS_Store
.devcontainer
.venv
.ruff_cache
