/** slow 2 second transition (plus another second from the fade in) from the interstitial page to homepage to allow time for the user to view the message */
.fade-in {
  animation: fadeInStandard 1s ease-in-out;
  transform: none !important;
}

.fade-in-long {
  animation: fadeInLong 2s ease-in-out;
  transform: none !important;
}

.fade-out {
  animation: fadeOutStandard 2s ease-in-out;
  transform: none !important;
}

@keyframes fadeInStandard {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInLong {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutStandard {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/** Classes for view transitions */
.fadeIn {
  animation: fadeIn 0.5s ease-in-out forwards;
  transform: none !important;
}

.fadeOut {
  animation: fadeOut 0.5s ease-in-out forwards;
  transform: none !important;
}

.fadeOutImmediate {
  animation: fadeOutImmediate 0s forwards;
  transform: none !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOutImmediate {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
